<div class="row">
    
    <h3></h3>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{#link-to 'groups.index'}} 
                <span class="center-block"> Groups </span> 
            {{/link-to}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{#link-to 'players.index'}} 
                <span class="center-block"> Players </span>
            {{/link-to}}
        </div>
    </div> 

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{#link-to 'matches.index'}} 
                <span class="center-block"> Matches </span>
            {{/link-to}}
        </div>
    </div> 

</div>

{{yield}}
