<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mu</th>
            <th>Sigma</th>
        </tr>
    </thead>
    <tbody>

        {{#each players as |player|}}
            <tr>
                <td>{{player.name}}</td>
                <td>{{player.mu}}</td>
                <td>{{player.sigma}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>


{{yield}}