

    <div class="row">
        <h3>Groups</h3>
    </div>
    <div class="row">
        {{group-table groups=model}}
    </div>

    {{new-group-modal isShowingModal=isShowingModal action="createGroup"}}

