<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-3 col-md-offset-0">
            <h2 id="title">PING PONG</h2>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-2">
            
            {{nav-pane}}
           
        </div>
        
        <div class="col-md-10 center-block">
            {{outlet}}
        </div>
    
    </div>

</div>
