
<div class="container">
    <div class="row">
        <h3>Players</h3>
    </div>
    <div class="row">
        {{player-table players=model}}
    </div>

    {{new-player-modal isShowingModal=isShowingModal action="createPlayer"}}

</div>